@font-face {
  font-family: "Nexa";
  src: local("Nexa"),
        url("../fonts/nexa_light.woff2") format("woff2"),
        url("../fonts/nexa_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa"),
        url("../fonts/nexa_bold.woff2") format("woff2"),
        url("../fonts/nexa_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
        url("../fonts/opensans_light.woff2") format("woff2"),
        url("../fonts/opensans_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Felt Tip";
  src: local("Felt Tip"), local("FeltTip"),
        url("../fonts/felt_tip.woff2") format("woff2"),
        url("../fonts/felt_tip.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
