.main-nav {
  position: relative;
  min-height: 100px;
  margin: 0;
  padding: 0;
  color: @color-secondary;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 93.2%;
    height: 1px;
    margin: 0 3.4%;
    background-color: @color-secondary;
  }

  &--dark {
    color: @color-dark;

    &::after {
      background-color: @color-dark;
    }
  }
}

.main-nav__wrapper {
  .container-fluid();
  padding: 0;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding: 39px 50px 37px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
//  color: @color-secondary;

  &--current {
    font-weight: bold;
  }

  &:last-of-type {
    padding-right: 0;
  }
}


.main-nav__item-link {
  text-decoration: none;
  color: @color-secondary;

  &:hover {
    color: @color-dark;
  }

  &:active {
    color: @color-dark;
    opacity: 0.5;
  }

  &--dark {
    color: @color-dark;

    &:hover {
      color: @color-text;
    }

    &:active {
      color: @color-text;
      opacity: 0.5;
    }
  }
}
